

.navbar {
    background-color: #F1C40F;
}

.quem-somos {
    background-color: #F7DC6F;
    color: white;
}

.padding {
    padding: 20px 0;
}

.parceiros {
    background-color: #F9E79F;
}

.bg-footer {
    background-color: black;
    color: white;
}